// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & XNA
@import '../../../../xna/Resources/Public/Sass/functions';
@import '../../../../xna/Resources/Public/Sass/variables';
@import '../../../../xna/Resources/Public/Sass/mixins';
@import '../../../../xna/Resources/Public/Sass/definitions';

// ---------------------------------------------------------------------------------------------------------------------
// Variablen
$ce-downloads--use-css: true !default;
$ce-downloads--layout-default: true !default;

// ---------------------------------------------------------------------------------------------------------------------
// CSS
@if($ce-downloads--use-css) {

	// -------------------------------------------------------------------------------------------------------------------
	// CSS Variablen
	:root {
	}

	// -------------------------------------------------------------------------------------------------------------------
	// Component
	.download--item {
		& {
			cursor: pointer;
			@extend %accessibility-focus-within;
		}

		&:hover, .focusable &:focus-within {
			.download--item-link {
				background-size: 100% 2px;
			}
		}

		.download--item-link {
			& {
				font-size: rem(20px);
				color: $font-color-base;
			}

			&:hover, .focusable &:focus {
				outline: 0;
			}
		}

		.download--item-description, .download--item-properties {
			margin: rem(3px 0 0 0);
			font-size: rem(16px);
			color: $color-grey;
		}

		.download--item-description {
			margin: rem(3px 0 0 0);
		}

		.download--item-properties {
			& {
				display: flex;
				margin: rem(3px 0 0 0);
				padding: 0;
				list-style: none;
			}

			li {
				display: block;
				text-transform: uppercase;
			}

			li + li {
				& {
					position: relative;
					margin-left: rem(12px);
					padding-left: rem(13px);
				}

				&:before {
					content: '';
					position: absolute;
					top: 6px; left: 0;
					display: block;
					height: 12px;
					border-left: 1px solid $color-grey;
				}
			}
		}
	}

	.downloads--container {
		& {
			@include list-unstyled();
		}

		& > li {
			padding: rem(15px 0 15px 50px);
		}
	}

	// -------------------------------------------------------------------------------------------------------------------
	// Modul
	.ce-facts {
	}

	// -------------------------------------------------------------------------------------------------------------------
	// >= 576px
	@include media-breakpoint-up(sm) {
	}

	// -------------------------------------------------------------------------------------------------------------------
	// >= 768px
	@include media-breakpoint-up(md) {
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// XNA Override
@import '../../../../xna/Resources/Public/Sass/xna/modules/downloads';